.header {
  position: relative;
  z-index: 1;  
  padding:rem(12) 0;  
  border-bottom: 1px solid color(6);

  
  .header-flex {
    display: flex;
    justify-content: space-between;
  }

    .logo {
      flex:0 0 rem(145);
      height: rem(38);      
      text-decoration: none;

      background: url('../assets/logo.svg');
    }

    .links {
      display: flex;
      align-items: center;
    }

      .copy{
        display: inline-block;
        color:color(6);
        font-weight: bold;
      }

      .phone {
        display: inline-block;        
        margin-left: rem(24);
        font-weight: bold;
        text-decoration: underline;  
        
        .phone-icon {
          display: inline-block;
          margin-right:rem(8);

          &:before {
            @include icon;
            content:'phone';
            color: color(6);
          }          
        }
      }

}